body {
    background-image: url("//drive.google.com/uc?id=14heHKJFQkwlO_S5VvHI_L3pZhTLhvaOj");  
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

#imageOfHenry {
    border-radius: 50%;
    transition: -webkit-transform 0.25s ease;
    transition: transform 0.25s ease;
  }

img:active {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}